<div class="ca-navigation-bar" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
  <div fxFlex="30px">
    <button *ngIf="routes.length > 1" mat-icon-button (click)="goBack()">
      <mat-icon class="ca-navigation-bar-back-icon">chevron_left</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="ca-navigation-bar-path">
    <div *ngFor="let route of routes; let i = index" fxLayoutAlign="start center">
      <span ngClass="{{route === selectedRoute && 'ca-navigation-bar-selected-item'}}">{{route}}</span>
      <mat-icon class="ca-navigation-bar-path-icon" *ngIf="i < routes.length - 1">chevron_right</mat-icon>
    </div>
  </div>
</div>
