.ca-navigation-bar {
  background: white;
  height: 50px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.ca-navigation-bar-path {
  font-size: 16px;
}

.ca-navigation-bar-path-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.ca-navigation-bar-back-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.ca-progress-bar{
  z-index: 1;
  top: -50px;
}
