.ca-trimble-toolbar-logo {
  width: 220px !important;
  height: 54px !important;
  transform: scale(0.5) !important;
  top: -8px;
  margin-left: -40px;
}

.ca-navigation-bar-container {
  height: 50px;
  padding: 0;
  z-index: 1;
}
