$color-trimble-accent: (
  50: #fff2cc,
  100: #FFD65C,
  200: #FFD147,
  300: #FFCC33,
  400: #FFC71F,
  500: #FFBE00,
  600: #F5B800,
  700: #E0A800,
  800: #CC9900,
  900: #b38500,
  A100: #FFBE00,
  A200: #FFBE00,
  A400: #FFBE00,
  A700: #FFBE00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$color-trimble-primary: (
  50: #0A9DFF,
  100: #0093F5,
  200: #0087E0,
  300: #007ACC,
  400: #006EB8,
  500: #005F9E,
  600: #00568F,
  700: #00497A,
  800: #00497A,
  900: #003D66,
  A100: #005F9E,
  A200: #005F9E,
  A400: #005F9E,
  A700: #005F9E,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
