.ca-contact-list-item-icon {
  width: 30px !important;
  height: 30px !important;
  font-size: 30px !important;
  padding: 8px;
}

.ca-contact-list-item-title{
  font-size: 16px;
}

.ca-contact-list-item-subtitle{
  font-size: 14px;
  opacity: 0.6;
}
