.ca-contact-list-item-icon {
  padding-right: 16px;
}

.ca-contact-list-item-title {
  font-size: 16px;
}

.ca-contact-list-item-subtitle {
  font-size: 14px;
  opacity: 0.6;
}

.ca-contact-list-item {
  height: 65px !important;
}
