<div class="ca-card-container" fxLayout="column" fxLayoutAlign="start center" fxFlexFill>
  <mat-card fxLayout="column" class="ca-card">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field appearance="legacy" floatLabel="never">
        <input matInput placeholder="{{'common.search' | translate}}" [(ngModel)]="searchText"
               [disabled]="!contacts.length">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-nav-list class="ca-contact-list">
      <ca-contact-list-item
        *ngFor="let contact of contacts | orderBy: 'lastName' |filterBy : ['firstName', 'lastName' , 'streetAddress', 'city', 'postCode']: searchText"
        [contact]="contact"
        (selected)="onContactSelected($event)">
      </ca-contact-list-item>
    </mat-nav-list>
    <div *ngIf="!contacts.length" class="ca-contact-list-empty" fxLayout="column" fxLayoutAlign="center center" fxFlex>
      {{'contactList.empty' | translate}}
    </div>
  </mat-card>
</div>
<button mat-fab color="accent" class="ca-fab" (click)="onContactAdd()">
  <mat-icon>add</mat-icon>
</button>
