<div fxLayout="column" fxLayoutAlign="start center" fxFlexFill>
  <mat-card class="ca-contact-list-card">

    <mat-form-field>
      <input matInput [(ngModel)]="filter" placeholder="search" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-nav-list>
      <ca-contact-list-item
        *ngFor="let contact of contacts | filterBy: ['firstName', 'lastName']: filter"
        [contact]="contact"
        (contactSelected)="onContactSelected($event)">
      </ca-contact-list-item>
    </mat-nav-list>

  </mat-card>
</div>
