<div *ngIf="contact" fxLayout="column" fxLayoutAlign="start center" class="ca-card-container">
  <mat-card fxLayout="column" class="ca-card">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="ca-contact-details-icon">accessible_forward</mat-icon>
    </div>
    <mat-form-field>
      <input matInput placeholder="{{'contact.firstName' | translate}}" [(ngModel)]="contact.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'contact.lastName' | translate}}" [(ngModel)]="contact.lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'contact.streetAddress' | translate}}" [(ngModel)]="contact.streetAddress">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'contact.postCode' | translate}}" [(ngModel)]="contact.postCode">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'contact.city' | translate}}" [(ngModel)]="contact.city">
    </mat-form-field>
  </mat-card>
</div>
<button mat-fab color="accent" class="ca-fab" (click)="onSave()">
  <mat-icon>check</mat-icon>
</button>
