/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  padding: 0;
  margin: 0;
  background: #EEEEEE;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('assets/material-icons.woff2')
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-size: 24px;
  line-height: 100%;
}

.ca-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.ca-selected-item {
  color: #1565C0;
}

.ca-card-container {
  padding: 16px;
}

.ca-card {
  max-width: 500px;
  width: 100%;
}
